/*--------HEADER--------*/
.container {
    background-color: black;
    opacity: 0.80;
}

#logo {
    width: 20%;
    height: 20%;
    text-align: center;
    margin-top: 0.5%;
}

#title {
    margin-top: -1%;
    color: lightgoldenrodyellow;
}

/*------------------------*/

/*--------GENERAL--------*/

body {
    background-image: url('../images/background.jpg');
}

.form-group {
    text-align: center;
}

#content {
    margin-top: 7%;
    margin-bottom: 7%;
    padding-top: 2%;
    height: 100%;
    color: whitesmoke;
    opacity: 0.75;
    background-color: black;
    border-radius: 25px;
}

h1 {
    text-align: center;
    margin-top: -2%;
}

/*------------------------*/

/*--------INDEX--------*/

#index{
    text-align: center;
}

#precision {
    margin-top: -1%;
    font-size: 0.75em;
}

.button_principal {
    margin-top: 20%;
    margin-bottom: 20%;
}

/*------------------------*/

/*--------COMMANDE--------*/

.entree {
    width: 50%;
    margin-left: 1%;
    text-align: center;
}

.entree, input{
    margin-left: 25%;
}

/*------------------------*/

/*--------TICKETS--------*/

.radio {
    display: inline;
    margin-right: 2%;
    margin-left: 4%;
    text-align: center;
}

#mailResa {
    text-align: center;
}

.ticket_fin {
    border-bottom-style: dotted;
}

/*------------------------*/

/*--------CHECKOUT--------*/

table
{
    border-collapse: collapse;
}

th, tr
{
    border: 1px solid grey;
}

.email-recap {
    text-align: center;
    font-size: 1.2em;
}

#prixTot {
    text-align: right;
}

#paiement {
    text-align: center;
}


#info {
    font-size: 0.8em;
    color: orange;
    text-align: center;
}

/*------------------------*/