{# src/OC/LouvresBundle/Resources/views/layout.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/oclouvres/css/main.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <div class="container">
        <div id="logo" class="col-sm-3 hidden-sm hidden-xs">
          <a href="{{ path('oc_louvres_homepage') }}"><img id="logo" class="img-rounded text-center" src="{{ asset('bundles/oclouvres/images/logo_pyramide.jpeg') }}" alt="Logo Louvres"/></a>
        </div>
        <div id="title" class="col-sm-7 text-center">
          <h2>Musée du Louvres</h2>
        </div>
    </div>


    <div class="row">
          <div id="content" class="col-md-8 col-md-offset-2">
              {% block oclouvres_body %}
              {% endblock %}
          </div>
    </div>

{% endblock %}