{# src/OC/LouvresBundle/Resources/views/Louvres/checkout.html.twig #}

{% extends 'OCLouvresBundle::layout.html.twig' %}


{% block oclouvres_body %}

    <h1>Panier :</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pays</th>
                <th>Type du Ticket</th>
                <th>Tarif réduit</th>
                <th>Prix</th>
            </tr>
        </thead>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.nom }}</td>
                <td>{{ ticket.prenom }}</td>
                <td>{{ ticket.pays }}</td>
                <td>{{ ticket.getTicketToString() }}</td>
                <td>{{ ticket.getTarifReduitToString() }}</td>
                <td>{{ ticket.getPrix() }}€</td>
            </tr>
        {% endfor %}
    </table>
    <p class="email-recap">Date de la visite : {{ dateVisite }}</p>
    <p class="email-recap">Email : {{ email }}</p>
    <table class="table table-responsive">
        <tr>
            <th>Prix Total : </th>
            <th id="prixTot">{{ prixTotal }} €</th>
        </tr>
    </table>
    <p id="info">Les tickets utilisant le tarif réduit devront présenter un justificatif à l'entrée.</p>
    <div id="paiement">
        <form method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_ThnydCH244vW7ZXZ5WGCrYIs"
                    data-amount="{{ prixTotal*100 }}"
                    data-name="Musée du Louvres"
                    data-description="{{ nbTicket }} Tickets"
                    data-locale="auto"
                    data-zip-code="false"
                    data-email="{{ email }}"
                    data-currency="eur">
            </script>
        </form>
    </div><br>


    {% javascripts '@OCLouvresBundle/Resources/public/js/checkout.js' %}
    <script src="{{ asset_url }}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    {% endjavascripts %}

{% endblock %}