{# src/OC/LouvresBundle/Resources/views/layout.html.twig #}

{% extends 'OCLouvresBundle::layout.html.twig' %}

{% block oclouvres_body %}


    {% javascripts '@OCLouvresBundle/Resources/public/js/commande.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <h1>Informations sur la visite :</h1>

    <div>
        {{ form(commandeForm) }}
    </div>


{% endblock %}

