{% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-notice">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}