{# src/OC/LouvresBundle/Resources/views/layout.html.twig #}

{% extends 'OCLouvresBundle::layout.html.twig' %}

{% block oclouvres_body %}

    {% include 'OCLouvresBundle:Louvres:error.html.twig' %}

    <div id="index">
        <div class="row">
            <h3>Bienvenue sur la page Billetterie du Musée du Louvre.</h3>
            <p>Vous allez etre guidé tout au long de votre commande.</p>
            <p>Voici le déroulement de la reservation :</p>
            <p><b><u>Étape 1:</u></b> Choix de la date de viste ainsi que du nombre de ticket</p>
            <p id="precision">(Le nombre de ticket maximum par commande est de 50)</p>
            <p><b><u>Étape 2:</u></b> Renseignements des différentes informations sur les visiteurs.</p>
            <p id="precision">(Les tarifs réduits seront contrôlés à l'entrée du musée)</p>
            <p><b><u>Étape 3:</u></b> Paiement sécurisé des billets par carte bancaire.</p>
            <p id="precision">(Les tickets seront envoyés à l'email indiqué en debut de commande)</p>
        </div>
        <div class="row">
           <div class="col-xs-4"></div>
           <div class="col-xs-4">
               <a class="btn btn-success btn-lg btn-block button_principal" role="button" href="{{ path('oc_louvres_commande') }}">Commander</a>
           </div>
           <div class="col-xs-4"></div>
        </div>
    </div>

{% endblock %}

