{# src/OC/LouvresBundle/Resources/views/Louvres/tickets.html.twig #}

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body style="text-align: center; color: grey;">
    <div>
        <img style="width: 20%; height: 20%;" src="http://www.dessine-moi-paris.com/images/illustrations/moyennes/227-pyramide-caspar.jpg" alt="Logo Louvres"/>
        <h1 style="color: grey;">Musée du Louvres</h1>
    </div>

    <div>
        <div>
            <h3>Commande n°{{ numeroCommande }}</h3>
            <h4>Date de commande: {{ dateCommande }}</h4>
            <table style="border-collapse: collapse; width: 100%; max-width: 100%; margin-bottom: 20px;">
                <thead>
                <tr style="padding: 8px;
                          line-height: 1.42857143;
                          vertical-align: top;
                          border-top: 1px solid #ddd;">
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Pays</th>
                    <th>Type du Ticket</th>
                    <th>Tarif réduit</th>
                    <th>Prix</th>
                </tr>
                </thead>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.nom }}</td>
                        <td>{{ ticket.prenom }}</td>
                        <td>{{ ticket.pays }}</td>
                        <td>{{ ticket.getTicketToString() }}</td>
                        <td>{{ ticket.getTarifReduitToString() }}</td>
                        <td>{{ ticket.getPrix() }}€</td>
                    </tr>
                {% endfor %}
            </table>
            <p>Date de la visite : {{ dateVisite }}</p>
            <p>Email : {{ email }}</p>
            <table style="border-collapse: collapse; width: 100%; max-width: 100%; margin-bottom: 20px;">
                <tr style="padding: 8px;
                          line-height: 1.42857143;
                          vertical-align: top;
                          border-top: 1px solid #ddd;">
                    <th>Prix Total : {{ prixTotal }}€</th>
                </tr>
            </table>
            <p>Les tickets utilisant le tarif réduit devront présenter un justificatif à l'entrée.</p>
        </div>
    </div>
</body>
