{# src/OC/LouvresBundle/Resources/views/layout.html.twig #}

{% extends 'OCLouvresBundle::layout.html.twig' %}

{% block oclouvres_body %}


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% javascripts '@OCLouvresBundle/Resources/public/js/ticket.js' %}
    <script src="{{ asset_url }}"></script>
    <script>
        var nbTicket = {{ nbTicket }};
        var isReservable = {{ isReservable }};
    </script>

    {% endjavascripts %}



    <h1>Informations visiteurs:</h1>

    <div>
        {{ form(ticketForm) }}
    </div>

{% endblock %}